.head{
    text-align: center;
}

.form{
    margin: 16px;
}

.form *{
    display: block;
    width: 100%;
}

label{
    margin-top: 16px;
}

input, textarea{
    margin-top: 8px;
    padding: 8px;
    font-size: medium;
}

button{
    background-color: mediumblue;
    color:white;
    font-size: medium;
    border-radius: 8px;
    width: fit-content;
    margin: 16px auto;
    padding: 8px;
}
